@model Thinktecture.IdentityServer.Protocols.WSFederation.HrdViewModel

@{
    ViewBag.Title = "HRD";
}

<h2>Choose an Identity Provider to Login</h2>
@if(Model.Providers.Any())
{
    using(Html.BeginForm("Select", "HRD"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x=>x.OriginalSigninUrl)
        <ul>
            @foreach (var provider in Model.Providers)
            {
                <li>
                    <button type="submit" name="idp" value="@provider.ID">@provider.DisplayName</button>
                </li>
            }
        </ul>
    }
}
else
{
    <p>No Identity Providers configured. Contact your administrator.</p>
}