@using Thinktecture.IdentityServer.Web.App_LocalResources.OAuth2Authorize
@{
    ViewBag.Title = Error_cshtml.Error;
    ViewBag.HideMenu = true;
}

<h2>@Error_cshtml.ErrorProcessingRequest</h2>
<h3>@ViewBag.Message</h3>
