@{
    ViewBag.Title = ViewBag.SiteName;
}

<h2>Welcome to @ViewBag.SiteName</h2>

<p>
    @Html.ActionLink("View WS-Federation Metadata", "Generate", "FederationMetadata")
</p>

<p>
    @Html.ActionLink("Application integration", "appintegration", "home")
</p>