@model Thinktecture.IdentityServer.Web.ViewModels.Administration.MyModel

@{
    ViewBag.Title = "My Claims";
}

<h2>My Claims</h2>

@foreach (var claim in Model.Claims)
{
    <p>
        <b>@claim.Type</b>
        <br />
        @claim.Value
    </p>
}
