@model RolesViewModel

@{
    ViewBag.Title = "Roles";
}

@Html.Partial("CreateRole", new RoleInputModel())

<h1>Roles</h1>
<ul class="roleList">
    @foreach (var role in Model.Roles)
    {
        <li>
            <span>@role.Name</span>
            @if (role.CanDelete)
            {
                using(Html.BeginForm("Delete", "Role"))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="name" value="@role.Name" />
                    <button>Delete</button>
                }
            }
        </li>
    }
</ul>