@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        You have been signed out of Identity Server. It might be possible that you still have active sessions with other applications.
    </h2>
</body>
</html>