@using Thinktecture.IdentityServer.Web.App_LocalResources.Shared
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@SignedOut_cshtml.SignedOutTitle</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<body>
    <section id="main-section">
        <h2>@SignedOut_cshtml.SignedOutMessage</h2>
    </section>
</body>
</html>
