.config-menu {
  vertical-align: top;
  display: inline-block;
  width: 300px;
}
.config-editor {
  margin-left: 20px;
  display: inline-block;
}
.config-editor .message {
  font-size: 140%;
  font-weight: bold;
  margin: 10px;
  position: relative;
  display: none;
}
.editor > div,
.editor > form > div {
  margin: 5px;
}
.editor label {
  display: inline-block;
  width: 230px;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
}
.editor label:after {
  content: ':';
}
.editor.small label {
  width: 130px;
}
.editor input[type=text],
.editor input[type=password],
.editor input[type=file],
.editor input[type=url] {
  width: 350px;
}
.editor select {
  width: 352px;
  padding: 1px;
  margin-right: 1px;
}
.editor input.base64 {
  width: 275px;
}
.editor button.base64 {
  width: 70px;
}
.editor img {
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.editor img.error {
  margin-left: 5px;
}
.editor .inline-editor {
  vertical-align: top;
  text-align: left;
  display: inline-block;
  width: 353px;
  margin-left: 0;
  margin-right: 2px;
}
.editor .inline-editor * label,
.editor .inline-editor * input {
  width: auto;
}
.editor .inline-editor.create-user-roles * label {
  width: 230px;
}
.editor div.buttons {
  padding-top: 10px;
  text-align: right;
}
.nameList span {
  display: inline-block;
  width: 200px;
}
.nameList form {
  display: inline;
}
.newDelegationSettingButton {
  text-align: right;
}
.validation-summary-errors {
  max-width: 800px;
}
