.config-menu {
  vertical-align: top;
  display: inline-block;
  width: 300px;
}
.config-editor {
  margin-left: 20px;
  display: inline-block;
}
.config-editor .message {
  font-size: 140%;
  font-weight: bold;
  margin: 10px;
  position: relative;
  display: none;
}
.editor > div,
.editor div.edit-prop {
  margin: 5px;
}
.editor > div > input[type=text],
.editor div.edit-prop > input[type=text],
.editor > div > input[type=password],
.editor div.edit-prop > input[type=password],
.editor > div > input[type=file],
.editor div.edit-prop > input[type=file],
.editor > div > input[type=url],
.editor div.edit-prop > input[type=url],
.editor > div > select,
.editor div.edit-prop > select {
  width: 350px;
}
.editor > div > input.base64,
.editor div.edit-prop > input.base64 {
  width: 275px;
}
.editor > div > button.base64,
.editor div.edit-prop > button.base64 {
  width: 70px;
}
.editor > div > label,
.editor div.edit-prop > label {
  display: inline-block;
  width: 230px;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
}
.editor > div > label:after,
.editor div.edit-prop > label:after {
  content: ':';
}
.editor > div > div,
.editor div.edit-prop > div {
  margin-left: 245px;
}
.editor > div > div label,
.editor div.edit-prop > div label {
  font-weight: bold;
}
.editor > div > div label:after,
.editor div.edit-prop > div label:after {
  content: ':';
}
.editor > div .cert-helper,
.editor div.edit-prop .cert-helper {
  margin-left: 140px;
}
.editor div.buttons {
  padding-top: 10px;
  text-align: right;
}
.editor .inline-editor {
  vertical-align: top;
  display: inline-block;
  width: 353px;
  margin-left: 0;
}
.editor img {
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.editor img.error {
  margin-left: 5px;
}
fieldset.editor.small > div > label,
fieldset.editor.small div.edit-prop > label {
  width: 130px;
}
.nameList span {
  display: inline-block;
  width: 200px;
}
.nameList form {
  display: inline;
}
.newDelegationSettingButton {
  text-align: right;
}
.validation-summary-errors {
  max-width: 800px;
}
