@model Thinktecture.IdentityServer.Protocols.WSFederation.HrdViewModel

@{
    ViewBag.Title = "Error";
    ViewBag.HideMenu = true;
}

<div data-role="page">
    <div data-role="header">
        <h1>@ViewBag.SiteName</h1>
    </div>
    <div data-role="content">
        <h2>Error Processing Request</h2>
        <h3>@ViewBag.Message</h3>
    </div>
</div>



