body
{
    font-family: Calibri, Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

.editor-field-slim
{
    margin:0.5em 0 0 0;
}

.editor-field input[type=text]
{
    width:400px
}

.editor-field input[type=file]
{
    width:400px
}

/* Brock's styles for forms */
#main-section
{
    margin:15px;
}
fieldset.editor
{
    xwidth:610px;
}
fieldset.editor > div
{
    margin:5px;
}
fieldset.editor > div > label
{
    display:inline-block;
    width:230px;
    font-weight:bold;
    text-align:right;
    margin-right:10px;
}
fieldset.editor > div > label:after{
    content:':';
}
fieldset.editor > div > input[type=text]
{
    width:350px;
}
fieldset.editor > div.buttons{
    padding-top:10px;
    text-align:right;
}
fieldset.editor img{
    vertical-align:middle;
    position:relative;
    top:-2px;
}
fieldset.editor img.error
{
    margin-left:5px;
}

.config-menu {
    vertical-align:top;
    display:inline-block;
    width:300px;
}
.config-editor{
    margin-left:20px;
    display:inline-block;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for the web frontent
-----------------------------------------------------------*/


a:link
{
    color: Black;
    text-decoration: none;
}

a:visited
{
    color: Black;
    text-decoration: none;
}
a:hover
{
    color: Black;
    text-decoration: overline underline;
}
a:active
{
    color: Black;
    text-decoration: none;
}

.masterHeader
{
    background-color: #606060;
    padding-top: 5px;
    padding-bottom: 5px;
}

.masterHeaderText
{
    padding-left: 15px;
    font-weight: bold;
    color: White;
}

.menu
{
    background-color: #7285a3;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000000;
    padding-left: 15px;
}

.menu a:link
{
    color: #FFFFFF;
    text-decoration: none;
}

.menu a:visited
{
    color: #FFFFFF;
    text-decoration: none;
}
.menu a:hover
{
    color: #FFFFFF;
    text-decoration: overline underline;
}
.menu a:active
{
    color: #FFFFFF;
    text-decoration: none;
}

a.bodyLink:link
{
    color: #7285a3;
    text-decoration: none;
}
a.bodyLink:visited
{
    color: #7285a3;
    text-decoration: none;
}

a.bodyLink:hover
{
    color: #7285a3;
    text-decoration: overline underline;
}
a.bodyLink:active
{
    color: #7285a3;
    text-decoration: none;
}

