body {
  font-family: Calibri, Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
  color: #232323;
  background-color: #fff;
}
#main-section {
  margin: 15px;
}
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
  border: 1px solid #ddd;
  padding: 0 1.4em 1.4em 1.4em;
  margin: 0 0 1.5em 0;
}
fieldset legend {
  font-size: 1.2em;
  font-weight: bold;
}
fieldset textarea {
  min-height: 75px;
}
fieldset .editor-label {
  margin: 1em 0 0 0;
}
fieldset .editor-field {
  margin: 0.5em 0 0 0;
}
fieldset .editor-field-slim {
  margin: 0.5em 0 0 0;
}
fieldset .editor-field input[type=text],
fieldset .editor-field input[type=password],
fieldset .editor-field input[type=file],
fieldset .editor-field input[type=url] {
  width: 400px;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
  color: #ff0000;
}
.field-validation-valid {
  display: none;
}
.input-validation-error {
  border: 1px solid #ff0000;
  background-color: #ffeeee;
}
.validation-summary-errors {
  font-weight: bold;
  color: #ff0000;
}
.validation-summary-valid {
  display: none;
}
/* Styles for the web frontent
-----------------------------------------------------------*/
a {
  color: black;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
a.bodyLink {
  color: #7285a3;
}
.masterHeader {
  background-color: #606060;
  padding-top: 5px;
  padding-bottom: 5px;
}
.masterHeaderText {
  padding-left: 15px;
  font-weight: bold;
  color: White;
}
.menu {
  background-color: #7285a3;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000000;
  padding-left: 15px;
}
.menu a {
  color: #FFFFFF;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
}
ul.hrd li {
  list-style: none;
}
ul.hrd li button {
  width: 300px;
  height: 30px;
  margin: 3px;
}
.editor > div,
.editor > form > div {
  margin: 5px;
}
.editor label {
  vertical-align: top;
  display: inline-block;
  width: 230px;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
}
.editor label:after {
  content: ':';
}
.editor.small label {
  width: 130px;
}
.editor.small.signin input[type=text],
.editor.small.signin input[type=password] {
  width: 230px;
}
.editor.small.signin div.buttons {
  max-width: 380px;
}
.editor.small div.buttons {
  max-width: 500px;
}
.editor input[type=text],
.editor input[type=password],
.editor input[type=file],
.editor input[type=url],
.editor input[type=email],
.editor textarea {
  width: 350px;
}
.editor select {
  width: 352px;
  padding: 1px;
  margin-right: 1px;
}
.editor select .input-validation-error {
  width: 352px;
}
.editor input.base64 {
  width: 275px;
}
.editor button.base64 {
  width: 70px;
}
.editor img {
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.editor img.error {
  margin-left: 5px;
}
.editor .inline-editor {
  vertical-align: top;
  text-align: left;
  display: inline-block;
  width: 353px;
  margin-left: 0;
  margin-right: 2px;
}
.editor .inline-editor * label,
.editor .inline-editor * input {
  width: auto;
}
.editor .inline-editor.create-user-roles * label {
  width: 230px;
}
.editor div.buttons {
  padding-top: 10px;
  text-align: right;
  max-width: 600px;
}
.offline {
  margin-top: 20px;
}
.scopes label {
  cursor: pointer;
}
