<connectionStrings>
  <add name="ProviderDB"
       connectionString="data source=.\sqlexpress;Integrated Security=SSPI;Initial Catalog=aspnetdb;MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient" />
  <add name="IdentityServerConfiguration"
       connectionString="Data Source=|DataDirectory|\IdentityServerConfiguration.sdf"
       providerName="System.Data.EntityClient" />
</connectionStrings>