<system.identityModel>
  <identityConfiguration>

    <claimsAuthorizationManager type="Thinktecture.IdentityServer.AuthorizationManager, Thinktecture.IdentityServer.Core" />
    <claimsAuthenticationManager type="Thinktecture.IdentityServer.ClaimsTransformer, Thinktecture.IdentityServer.Core" />


    <securityTokenHandlers>
      <!--use the membership provider to authentication UserName tokens-->
      <remove type="System.IdentityModel.Tokens.WindowsUserNameSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add type="Thinktecture.IdentityServer.TokenService.RepositoryUserNameSecurityTokenHandler, Thinktecture.IdentityServer.Core" />

      <!--token handler for mapped X509 certificates-->
      <remove type="System.IdentityModel.Tokens.X509SecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add type="Thinktecture.IdentityServer.TokenService.RepositoryX509SecurityTokenHandler, Thinktecture.IdentityServer.Core" />

      <!-- machine key for session protection -->
      <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

      <!-- HTTP tokens -->
      <!--<add type="Thinktecture.IdentityModel.Tokens.JsonWebTokenHandler, Thinktecture.IdentityModel" />-->
      <add type="Microsoft.IdentityModel.Tokens.JWT.JWTSecurityTokenHandler, Microsoft.IdentityModel.Tokens.JWT" />
    </securityTokenHandlers>

    <!-- allows all issuers for client certificate authentication -->
    <!-- access is controlled via user mappings configuration -->
    <issuerNameRegistry type="Thinktecture.IdentityServer.TokenService.ClientCertificateIssuerNameRegistry, Thinktecture.IdentityServer.Core" />

    <!-- no certificate validation for client certificate authentication by default -->
    <certificateValidation certificateValidationMode="None" />

    <!-- token handler for ActAs requests -->
    <securityTokenHandlers name="ActAs">
      <clear />
      <add type="System.IdentityModel.Tokens.SamlSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <samlSecurityTokenRequirement issuerCertificateValidationMode="None" />
      </add>
      <add type="System.IdentityModel.Tokens.Saml2SecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <samlSecurityTokenRequirement issuerCertificateValidationMode="None" />
      </add>
    </securityTokenHandlers>
  </identityConfiguration>
</system.identityModel>