<profile automaticSaveEnabled="false"
         defaultProvider="DefaultProfileProvider">
  <providers>

    <providers>
      <add name="DefaultProfileProvider"
           type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           connectionStringName="DefaultConnection"
           applicationName="/" />
    </providers>

  </providers>
  
  <!-- properties that should get turned into claims go here -->
  <properties>
    <add allowAnonymous="false"
         defaultValue=""
         name="WebPage"
         readOnly="false"
         serializeAs="String"
         type="System.String" />
    <add allowAnonymous="false"
         defaultValue=""
         name="TwitterName"
         readOnly="false"
         serializeAs="String"
         type="System.String" />
  </properties>
</profile>