<system.diagnostics>
  <!--set autoflush to false to increase performance -->
  <trace autoflush="false" />

  <sources>
    <!-- WCF message logging -->
    <!--<source name="System.ServiceModel.MessageLogging">
      
      <listeners>
        <add name="ServiceModelMessageLoggingListener" />
      </listeners>
    </source>-->

    <!-- WCF tracing -->
    <!--<source name="System.ServiceModel"
            switchValue="Warning,ActivityTracing"
            propagateActivity="true">
      
      <listeners>
        <add name="ServiceModelTraceListener" />
      </listeners>
    </source>-->

    <!-- WIF tracing -->
    <!--<source name="System.IdentityModel"
            switchValue="Verbose" >
      
      <listeners>
        <add name="IdentityModelListener" />
      </listeners>
    </source>-->

    <!-- IdentityServer tracing -->
    <!--<source name="Thinktecture.IdentityServer"
            switchValue="Verbose">

      <listeners>
        <add name="ThinktectureListener" />
      </listeners>
    </source>-->

    <!-- IdentityModel tracing -->
    <!--<source name="Thinktecture.IdentityModel"
            switchValue="Verbose">

      <listeners>
        <add name="ThinktectureListener" />
      </listeners>
    </source>-->
  </sources>

  <!-- worker process account needs write access to the configured tracing directories -->
  <sharedListeners>
    <add name="IdentityModelListener"
         type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
         initializeData="C:\etc\temp\tracing\identityServer\systemIdentityModel.svclog"
         traceOutputOptions="Timestamp">
      <filter type="" />
    </add>
    <add name="ServiceModelMessageLoggingListener"
         type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
         initializeData="C:\etc\temp\tracing\identityServer\wcfMessages.svclog"
         traceOutputOptions="Timestamp">
      <filter type="" />
    </add>
    <add name="ServiceModelTraceListener"
         type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
         initializeData="C:\etc\temp\tracing\identityServer\wcfTrace.svclog"
         traceOutputOptions="Timestamp">
      <filter type="" />
    </add>
    <add name="ThinktectureListener"
         type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
         initializeData="C:\etc\temp\tracing\identityServer\thinktectureIdentityServer.svclog"
         traceOutputOptions="Timestamp">
      <filter type="" />
    </add>
  </sharedListeners>
</system.diagnostics>