@model Thinktecture.IdentityServer.Web.Areas.Admin.ViewModels.UserPasswordModel

@{
    ViewBag.Title = "Change Password for " + Model.Username;
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary("Errors updating profile:")
    @Html.AntiForgeryToken()

    <fieldset class="editor small">
        <legend>@ViewBag.Title</legend>

        @Html.EditorForModel()
        
        <div class="buttons">
            <button>Update</button>
        </div>
    </fieldset>
}