@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="config-menu">
    @Html.Action("Index", "Menu")
</nav>

<section class="config-editor">
    @RenderBody()
</section>

@section styles
{
    <link href="~/Areas/Admin/Content/Admin.css" rel="stylesheet" />
}
